body {
  margin: 0;
  padding-top: 50px; /* Adjust this value as needed */
}

.navbar {
    background-color: #333;
    padding: 10px;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other elements */
    height: 25px;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;

    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }